<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.medical_platform.mapper.MedicineOrdersMapper">
<!--    <select id="findMedicineOrdersById" resultType="com.example.medical_platform.entity.MedicineOrders">-->
<!--        select users.name,drugs.`name`,quantity,`status`,create_time from medicine_orders LEFT JOIN users on medicine_orders.user_id = users.id LEFT JOIN drugs on medicine_orders.drugs_id = drugs.id where user_id = #{userId}-->
<!--    </select>-->
</mapper>
